@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;700&display=swap');

:root {
  font-family: "Sora", Helvetica, Arial, sans-serif;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #fff;
  --bg-color: #333;
}

* {
  margin: 0;
  padding: 0;
}

body{
  padding: 40px 20px;
  background: var(--bg-color);
  color: var(--text-color);
}

button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    --text-color: #212121;
    --bg-color: #ffffff;
  }
}

.light{
  --text-color: #212121;
  --bg-color: #ffffff;
}